* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #242526;
}

.App .grid {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.App .grid .row {
    display: flex;
    gap: 1.5em;
}

.App .grid .row .card {
    background: #fff;
    width: 12em;
    height: 8.3em;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 1em;
    color: #65FE;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
}

.App .grid .row .card:hover {
    background: gray;
    color: #fff;
}

.App .points {
    text-align: center;
    color: #65FE;
    font-size: 3.5em;
}

@media (max-width: 720px){
    .App .points {
        margin-top: 2em;
    }

    .App .grid {
        margin-top: 8em;
    }

    .App .grid .row .card {
        width: 7.5em;
        height: 8.5em;
        margin-bottom: 3.5em;
    }
}

@media (max-width: 490px){
    .App .points {
        font-size: 2.8em;
    }

    .App .grid {
        margin-top: 5em;
    }

    .App .grid .row .card {
        width: 5.5em;
        height: 6.5em;
        margin-bottom: 1em;
    }
}